/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links .join-btn a {
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
}

.hero-section {
  height: 100vh;
  background-image: url("images/homepage.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 0 20px;
  align-items: center;
  color: #fff;
  margin-left: -1%;
}

.hero-section .content {
  max-width: 1280px;
  margin: 0 auto 40px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;
    padding: 0 10px;
  }

  .hero-section .content {
    margin: 0 auto 20px;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 50vh;
    padding: 0 5px;
  }

  .hero-section .content {
    margin: 0 auto 10px;
    padding: 0 5px;
  }
}


@media (min-width: 901px) {
  .navbar #hamburger-btn {
    display: none !important;
  }

  .navbar #close-menu-btn {
    display: none !important;
  }

  .navbar .menu-links {
    margin-left: auto;
  }
}


.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar .menu-links {
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 2;
  }

  header.show-mobile-menu .navbar .menu-links {
    height: 100vh;
  }

  .navbar .menu-links li {
    margin: 20px 0;
    text-align: center;
  }

  .navbar .menu-links li a {
    color: #fff;
    font-size: 1.2rem;
  }

  .navbar #close-menu-btn {
    display: block;
  }
} */





















/* 1st PART */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {}

header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  background-color: #A5C564;
  
 
}

header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3vh;

  
  
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
}








.hero-section {
  height: 100vh;
  background-image: url("images/homepage.png");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 0 20px;
  align-items: center;
  color: #fff;
  margin-left: -1%;
}

.hero-section .content {
  max-width: 1280px;
  margin: 0 auto 30px; 
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;
    padding: 0 10px;
  }

  .hero-section .content {
    margin: 0 auto 15px; 
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 50vh;
    padding: 0 5px;
  }

  .hero-section .content {
    margin: 0 auto 10px;
    padding: 0 5px;
  }
}

@media (min-width: 901px) {
  .navbar #hamburger-btn {
    display: none !important;
  }

  .navbar #close-menu-btn {
    display: none !important;
  }

  .navbar .menu-links {
    margin-left: auto;
  }
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar .menu-links {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    /* background-color: #A5C564; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 2;
    padding: 10px; 
  }

  header.show-mobile-menu .navbar .menu-links {
    height: 100vh;
    flex-direction: column; 
    padding: 20px 10px; 
  }

  .navbar .menu-links li {
    margin: 5px 0;
  }

  .navbar .menu-links li a {
    color: #fff;
    font-size: 1rem; 
    padding: 8px;
  }

  .navbar #close-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  header .navbar .menu-links {
    display: none;
  }

  header.show-mobile-menu .navbar .menu-links {
    display: flex;
  }
}






/* <!-- ABOUTUS 2ND PART --> */



.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.about-us:hover {
  transform: scale(1.02);
}

.about-img {
  max-width: 50%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.vault-image:hover {
  transform: scale(1.05);
}

.text-content {
  max-width: 55%;
}

.about {
  /* color: #c82429; */
  margin-top: 1vh;
  font-size: 24px;
  margin-bottom: 16px;
  transition: color 0.3s ease;
}

.about:hover {
  /* color: #a51e22; */
}

.aboutdescription {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* .case-study-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
} */

/* .case-study-link:hover {
  color: #0056b3;
} */



/* Basic styles for the button */
.about-us-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: black; /* Primary color */
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}




.viewall {
margin-top: 4vh;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: black; /* Primary color */
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}



/* Responsive Styles */
@media (max-width: 1024px) {
  .about-us {
      flex-direction: column;
      text-align: center;
  }

  .vault-image {
      max-width: 80%;
      margin-bottom: 20px;
  }

  .text-content {
      max-width: 100%;
  }

  .about-us-title {
      font-size: 22px;
  }

  .about-us-description {
      font-size: 15px;
  }

  .about-us-link {
      font-size: 15px;
  }
}

@media (max-width: 768px) {
  .about-us {
      padding: 15px;
  }

  .vault-image {
      max-width: 90%;
  }

  .about-us-title {
      font-size: 20px;
  }

  .about-us-description {
      font-size: 14px;
  }

  .about-us-link {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about-us {
      padding: 10px;
  }

  .vault-image {
      max-width: 100%;
  }

  .about-us-title {
      font-size: 18px;
  }

  .about-us-description {
      font-size: 13px;
  }

  .about-us-link {
      font-size: 13px;
  }
}




/* <!-- SERVICE 3RD PART --> */



.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.service-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(25% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.service-card:hover h3 {
  color: black;
}

.service-card p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .service-card {
      flex: 1 1 calc(45% - 40px);
  }
}

@media (max-width: 768px) {
  .service-card {
      flex: 1 1 calc(100% - 40px);
  }

  .service-card h3 {
      font-size: 18px;
  }

  .service-card p {
      font-size: 13px;
  }
}

@media (max-width: 480px) {
  .service-card {
      padding: 15px;
  }

  .service-card h3 {
      font-size: 16px;
  }

  .service-card p {
      font-size: 12px;
  }
}






















/* <!-- PRODUCT 4TH PART -- */





.smbull-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #B0B0B2;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.smbull-products:hover {
  transform: scale(1.02);
}

.smbull-text-section {
  flex: 1;
  padding-right: 20px;

}

.smbull-text-section h2 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 7vh;
}

.smbull-text-section h1 {
  /* color: #333; */
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  font-size: 4vh;
}

.smbull-text-section p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.smbull-image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smbull-image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .smbull-products {
      padding: 20px;
  }

  .smbull-text-section {
      padding-right: 0;
  }

  .smbull-text-section h1 {
      font-size: 28px;
  }
}

@media (max-width: 768px) {
  .smbull-products {
      flex-direction: column;
      text-align: center;
  }

  .smbull-text-section {
      padding: 0;
      margin-bottom: 20px;
  }

  .smbull-image-section {
      padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .smbull-text-section h1 {
      font-size: 24px;
  }

  .smbull-text-section p {
      font-size: 14px;
  }
}



.smbull-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  color: black;
  background-color:white; 
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 2vh;
}



@media (max-width: 768px) {
  .smbull-button {
      font-size: 14px;
      padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .smbull-button {
      font-size: 12px;
      padding: 8px 16px;
      
  }
}




/* ABOUTUS PART3 */




.container {
  max-width: 1200px; /* Limit the width for better readability */
  margin: auto;
  background: #ffffff;
  border-radius: 8px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  padding: 30px;
}


.container:hover {
  transform: scale(1.02);
}
h1 {
  text-align: center;
  color:black; /* Change the heading color */
  margin-bottom: 20px;
  font-size: 28px; /* Increase font size */
}

p {
  line-height: 1.6; /* Increase line height for readability */
  font-size: 16px; /* Set the font size */
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  h1 {
      font-size: 24px; /* Adjust heading size for smaller screens */
  }

  p {
      font-size: 14px; /* Adjust paragraph size for smaller screens */
  }
}







/* <!-- CONTACT 5TH PART --> */



.contact-container {
  max-width: 100%; /* Full width */
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.map-container {
  margin-bottom: 20px;
}

.arrow-icon {
  text-align: center;
  margin-top: 10px;
  font-size: 64px; 
}



/* Responsive styles */
@media (max-width: 1200px) { /* Large devices */
  .contact-container {
      padding: 15px;
  }
}

@media (max-width: 992px) { /* Medium devices */
  .contact-container {
      padding: 12px;
  }
}

@media (max-width: 768px) { /* Small devices */
  .contact-container {
      padding: 10px;
  }
}

@media (max-width: 576px) { /* Mobile devices */
  .contact-container {
      padding: 8px;
  }


}








/* <!-- ABOUTUS PART4 --> */


.containerteam {
  max-width: 1200px; /* Maximum width for larger screens */
  margin: auto;
  text-align: center;
  padding: 30px;
}

h1 {
  color: black; /* Heading color */
  margin-bottom: 30px;
  font-size: 32px; /* Heading size */
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
  gap: 20px; /* Space between grid items */
}

.team-member {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* Enable positioning for animation */
  overflow: hidden; /* Hide overflow for image animations */
}

.team-member img {
  border-radius: 50%; /* Make the image round */
  width: 100px; /* Set a fixed width for images */
  height: 100px; /* Set a fixed height for images */
  margin-bottom: 10px;
  transition: transform 0.3s; /* Image scaling animation */
}

.team-member h3 {
  margin: 10px 0;
  font-size: 20px; /* Increase font size */
}

.team-member p {
  color: #777;
}

.team-member:hover {
  transform: translateY(-10px); /* Move up effect on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.team-member:hover img {
  transform: scale(1.1); /* Scale image on hover */
}

/* Responsive Design */
@media (max-width: 1024px) { /* Medium screens */
  .team {
      grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (max-width: 768px) { /* Small screens */
  .team {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 480px) { /* Mobile screens */
  h1 {
      font-size: 28px; /* Adjust heading size for mobile */
  }

  .team {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }

  .team-member {
      padding: 15px; /* Adjust padding for mobile */
  }
}





























.about-usss {
  background:#B0B0B2;
  color: white;
  padding: 40px 20px;
  border-radius: 8px;
  text-align: center;
  margin: 20px 0;
  opacity: 1; /* Set to 1 for visible */
  transform: translateY(0); /* Set initial position */
  animation: fadeIn 0.5s ease forwards; /* Apply animation */
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(60px);
  }
  to {
      opacity: 1;
      transform: translateY(100);
  }
}

@media (max-width: 768px) {
  .about-usss {
      padding: 20px;
  }
}

h2 {
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}





/* FOOTER */



.footer {
  background-color: #A5C564;
  padding: 20px;
  color: #FEFFFE;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.subscribe-input {
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 60%;
  max-width: 300px;
}

.subscribe-button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: #B0B0B2;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
}

.footer-section {
  flex: 1 1 200px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color:#C6D5A5;
  text-decoration: none;
  font-weight: 900;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 5px solid black;

}

.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.partners span {
  margin-right: 10px;
}

.partners a {
  color: #FEFFFE;
  text-decoration: none;
}

.footer-info {
  text-align: center;
 
  
}

.footer-links a {
  color: #FEFFFE;
  margin-left: 10px;
  text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 992px) { /* MD Screen: 992px or less */
  .footer-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }


  
  .footer-bottom {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 10px;
      justify-items: center;
      text-align: center;
  }
}

@media screen and (max-width: 768px) { /* SM Screen: 768px or less */
  .footer-content, .footer-bottom {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      flex: 1 1 100%;
      margin-bottom: 20px;
  }

  .footer-info {
      margin-top: 20px;
  }
}

@media screen and (max-width: 576px) { /* SM/Mobile Screen: 576px or less */
  .footer-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }

  .footer-bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
      justify-items: center;
      text-align: center;
  }

  .footer-info {
      grid-column: span 2;
  }
}


















/* navbar */

.navbar img {
  max-width: 100%;
  height: auto;
  width: 60px;
  border-radius: 10%; 
  object-fit: cover;
}

/* Adjustments for different screen sizes */
@media (max-width: 1200px) { /* Large screens */
  .navbar img {
    width: 50px;
  }
}

@media (max-width: 992px) { /* Medium screens */
  .navbar img {
    width: 45px;
  }
}

@media (max-width: 768px) { /* Small screens */
  .navbar img {
    width: 40px;
  }
}

@media (max-width: 576px) { /* Extra small screens, mobile devices */
  .navbar img {
    width: 35px;
  }
}























